@charset "utf-8";
$primary: #7B2D8B !default;
$success: #40d47e !default;
$danger:  #e74c3c !default;

@use 'bulma/sass/utilities' with (
    $family-sans-serif: '"Helvetica", "Arial", sans-serif',
    $primary: $primary,
    $success: $success,
    $danger: $danger,
    $widescreen-enabled: false,
    $fullhd-enabled: false
);
@forward "bulma/sass/base";
@forward "bulma/sass/elements/box";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/title";
@forward "bulma/sass/grid/columns";
@forward "bulma/sass/layout/hero";
@forward "bulma/sass/layout/level";
@forward "bulma/sass/layout/section";
@forward "bulma/sass/themes";
@forward "bulma/sass/helpers/color";
@forward "bulma/sass/helpers/typography";
@forward "bulma/sass/helpers/spacing";
@forward "bulma/sass/components/modal";
@forward "bulma/sass/elements/delete";